# Backend API URL
VITE_API_URL=http://localhost:3000/api/v1

# PulseIQ Analytics
VITE_PULSEIQ_API_KEY=your_pulseiq_api_key
VITE_PULSEIQ_PROJECT_ID=your_project_id
VITE_PULSEIQ_ENDPOINT=https://pulseiq-ffio.onrender.com/api/ingest/event

# Google OAuth
VITE_GOOGLE_CLIENT_ID=your_google_client_id