# MongoDB Configuration
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database

# Server Configuration
PORT=3000
SECRET_KEY=your_jwt_secret_key

# Cloudinary Configuration
CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret

# Email Configuration (Gmail)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Frontend URL
FRONTEND_URL=http://localhost:5173

# AI Configuration
GEMINI_API_KEY=your_gemini_api_key

# PulseIQ Analytics
PULSEIQ_API_KEY=your_pulseiq_api_key
PULSEIQ_PROJECT_ID=your_project_id
PULSEIQ_ENDPOINT=https://pulseiq-ffio.onrender.com/api/ingest/event

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret